<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="code icon"></i>Blog Site</div>
				<a href="/blogs" class="item">Home</a>
				<a href="/blogs/programs" class="item">Programs</a>
				<a href="/blogs/piggame" class="item">Piggame</a>
				<a href="/blogs/kakao_clone/friends" class="item">Kakao Talk</a>
				<a href="/blogs/colorgame" class="item">Color Game</a>
				<a href="/blogs/museumofcandy" class="item">MuseumOfCandy</a>
			</div>
				<a href="/blogs/new" class="item">New Post</a>
		</div>